.footer-wrapper {
  border-top: .3rem double black;
  display: flex;
  flex-direction: column;
  
  .footer {
    &__links {
      display: flex;
      ul {
        flex: 1;
        li:first-child {
          margin-bottom: .25rem;
          text-transform: uppercase;
        }
      }
    }
  }
  
}