// ui components
@import './__ui_components__/unordered-list.scss';
@import './__ui_components__/text.scss';
@import './__ui_components__/compact-card.scss';
@import './__ui_components__/media-card.scss';
@import './__ui_components__/graphic-card.scss';
@import './__ui_components__/article-card.scss';
@import './__ui_components__/mini-article-card.scss';
@import './__ui_components__/quote-card.scss';
@import './__ui_components__/block-article.scss';
@import './__ui_components__/article-item.scss';

// layout
@import './layout/footer.scss';
@import './layout/nav.scss';
@import './layout/header.scss';
@import './layout/mini-nav.scss';
@import './layout/not-found.scss';

// views
@import './__views__/home.scss';
@import './__views__/news/category.scss';
@import './__views__/news/new-details.scss';
@import './__views__/news/search-results.scss';

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.border-right {
  border-right: 1px solid #ebebeb;
}

.double-divider {
  width: 100%;
  border-bottom: 4px double black;
  margin: 1rem 0;
}

.double-light-divider {
  width: 100%;
  border-bottom: 4px double #e2e2e2;
  margin: 1rem 0;
}


.single-divider {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.single-light-divider {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.anchor {
  color: black;
  cursor: pointer;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.boder-right-none {
  border-right: none;
}

.border-partial {
  border: 1px solid #ebebeb;
  width: 3.75rem;
  margin-top: .875rem;
}

.label {
  font-size: 1.25rem;
  font-weight: bolder;
  padding: 1rem 0;
}

.ellipsis-1 {
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: fit-content;
}

.ellipsis-2 {
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: fit-content;
}

.ellipsis-3 {
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: fit-content;
}

.caption {
  color: #808080;
  font-weight: 500;
  font-size: .65rem;
  text-align: end;
  display: block;
}

.radius-btn {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #3eff8b;
  color: black;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #3eff8b;
  &:hover {
    background-color: #3eff8b;
    border: 1px solid #3eff8b;
    color: black;
  }
  i {
    font-size: 1.5rem;
  }
}