// ui components
@import './__ui_components__/unordered-list.scss';
@import './__ui_components__/text.scss';
@import './__ui_components__/compact-card.scss';
@import './__ui_components__/media-card.scss';
@import './__ui_components__/graphic-card.scss';
@import './__ui_components__/article-card.scss';
@import './__ui_components__/mini-article-card.scss';
@import './__ui_components__/quote-card.scss';
@import './__ui_components__/block-article.scss';
@import './__ui_components__/article-item.scss';

// layout
@import './layout/Footer.scss';
@import './layout/Nav.scss';
@import './layout/Header.scss';
@import './layout/MiniNav.scss';

// views
@import './__views__/home.scss';
// @import './__views__/news/category.scss';
@import './__views__/news/new-details.scss';
@import './__views__/news/news-list.scss';

.app-wrapper {
  display: flex;
  flex-direction: column;
}

.border-right {
  border-right: 1px solid #ebebeb;
}

.double-divider {
  width: 100%;
  border-bottom: 4px double black;
  margin: 1rem 0;
}

.double-light-divider {
  width: 100%;
  border-bottom: 4px double #e2e2e2;
  margin: 1rem 0;
}


.single-divider {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.single-light-divider {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}

.anchor {
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
  }
}