.category-wrapper {
  .news-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__header {
      height: 5rem;
      width: 100%;
      display: flex;
  
      h2 {
        font-family: serif;
        font-size: 2.5rem;
        font-weight: 500;
        align-self: flex-end;
        margin: 0;
      }
    }
  }
}

@media (max-width: 425px) { 
  .category-wrapper {
    .news-list { 
      padding:0;
    }
  }
}