.home-wrapper {
  .news-wrapper {
    display: flex;
    flex-wrap: wrap;

    .top-home-news {
      padding-left: 0;
    }

    .opinion {
      border-left: 1px solid #cccccc;
      padding-right: 0;

      .opinion-wrapper {
        display: flex;
        &--list-one {
          border-right: 1px solid #cccccc;
          padding-right: 1rem;
        }
        &--list-two {
          padding-left: 1rem;
        }

      }
      
      .opinion-header-title {
        font-family: 'nyt-cheltenham';
        font-weight: 500;
        color: gray;
        font-size: 1rem;
        &:hover{
          color: #cccccc;
        }
      }
    }

    .block-other-news {
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .bottom-container {
      display: flex;
      flex-direction: column;
      .bottom-news {
        width:100%;
        display: flex;
        padding: 1rem 0;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}

.briefing {
  display: flex;
  &__item {
    display: flex;
    margin-right: 1rem;
    border-right: 1px solid #cccccc;
    .forecast {
      display: flex;
      flex-direction: column;
      &__temp {
        display: flex;
        &--img {
          width: 3rem;
        }
        &--location {
          margin-left: .5rem;
          font-size: .75rem;
          font-weight: 500;
        }
    
        &__measure {
          font-weight: bolder;
          font-size: .875rem;
          &--max {
            font-size: .75rem;
            margin-right: .30rem;
          }
    
          &--min {
            color: gray;
            font-size: .75rem;
          }
        }
      }
    }

    .fx-rates {
      width: 6rem;
      padding-right: 1rem;
      font-size: .75rem;
      &--rate {
        display: flex;
        justify-content: space-between;
        padding: .09rem;
        &:hover{
          background-color: rgba(204, 204, 204, 0.30);
        }
      }
    }
  }
}

// QUERIES ***************************************

@media (min-width: 320px) and (max-width: 425px) { 
  .briefing {
    &__item {
      border-right: none !important;
      .fx-rates {
        display: none;
      }
      margin: 0;
    }

    &__item {
      border-right: none !important;
      margin: 0;
    }
}

}

@media (max-width: 575px) { 
  .top-home-news {
    padding: 0;
  }
  .briefing {
    &__item:nth-child(2)  {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .news-wrapper {
    .opinion {
      border-left: none !important;
      padding: 0;
      .opinion-wrapper {
        flex-direction: column;
        &--list-one {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          border-right: none !important;
        }
        &--list-two {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 !important;
        }
      }
    }
  }

  .briefing {
    &__item:nth-child(3)  {
      display: none;
    }
  }

}

@media (max-width: 1000px) {
  .news-wrapper {
    .opinion {
      .opinion-wrapper {
        display: block !important;
        &--list-one {
          width: 100%;
          border-right: none !important;
          padding: 0 !important;
        }
        &--list-two {
          width: 100%;
          border-left: none !important;
          padding: 0 !important;
        }
      }
    }
  }
}