.home-wrapper {
  .briefing {
    padding: 1rem 0;
    display: flex;
    border-bottom: double black;
    &__item {
      margin-right: 1rem;
      border-right: 1px solid #cccccc;  
    }
  }

  .news-wrapper {
    display: flex;
    flex-wrap: wrap;

    .top-stories {
      padding-left: 0;
    }

    .opinion {
      border-left: 1px solid #cccccc;
      padding-right: 0;
    }
  }
}