.article-card {
  max-width: 22.6rem;
  height: 24.5rem;
  display: flex;
  flex-direction: column;

  &__header {
    img {
      width: 100%;
      height: 16rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &--title {
      font-family: 'nyt-cheltenham';
      font-size: 1rem;
      font-weight: bolder;
      line-height: 16px;
      margin-bottom: .45rem;
      text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &--paragraph {
      font-size: .875;
      line-height: 19px;
      margin-bottom: 0;
      text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__details {
      margin-top: .3rem;
      color: gray; 
      display: flex;
      font-size: .95rem;
      font-weight: 500;
      &--date {
        margin-right: .5rem;
      }
    }
  }
}