.article-item {
  max-width: 47.5rem;
  max-height: 9.5rem;
  display: flex;
  margin-bottom: 1.5rem;

  &__header {
    width: 30rem;
    display: flex;
    flex-direction: column;    
    &--title {
      font-size: 1.25rem;
      font-weight: 500;
    }

    &--paragraph {
      font-size: .75rem;
      font-weight: 500;
      margin: 0;
    }
    &__tags {
      span {
        font-size: .75rem;
        color: gray;
      }
    }
  }
  img {
    max-width: 100%;
    height: 100%;
  }
}