  .block-article {
    display: flex;
    &__header {
      display: flex;
      padding-right: 1rem;
      &--label-lg{
        font-size: 1.25rem;
        margin: 0;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      padding-left: 1rem;
      &--paragraph {
        font-size: .875rem;
        color: #555555;
        margin: 0;
      }
      &__tags{
        display: flex;
        margin-top: .5rem;
        span {
          display: block;
          font-weight: 500;
          color: gray;
          font-size: .75rem;
          margin-right: .45rem;
        }

      }
    }
    
  }