  .block-article {
    display: flex;
    &__header {
      display: flex;
      padding-right: .75rem;
      flex: 1;
      &--label-lg{
        font-family: serif;
        font-size: 1.25rem;
        margin: 0;
        font-weight: bolder;
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      flex: 2;
      &--paragraph {
        font-size: .875rem;
        color: #555;
        margin: 0;
      }
    }
    
  }

  @media (max-width: 425px) {
    .block-article { 
      flex-direction: column;
    }
  }