.graphic-card {
  
  margin-bottom: .65rem;
  display: flex;
  &__section {
    img {
      width: 29.96rem;
      height: 17.97rem;
    }
    &--caption {
      color: #ccc;
      font-weight: 500;
      font-size: .65rem;
      text-align: end;
      display: block;
    }
  }

  &__header {
    &--title {
      font-weight: bold;
    }
  }

  &__body {
    &__paragraph {
      font-size: .875rem;
      &--tags {
        span {
          font-size: .75rem;
          font-weight: 500;
          color: gray;
          margin-right: .45rem;
        }
      }
    }
  }

}