.graphic-card {
  // height: 20rem;
  // max-width: 47rem;
  margin-bottom: .65rem;
  display: flex;
  .item {
    flex: 1;
    img {
      max-width: 100%;
    }
  }

  &__header {
    &--title {
      font-weight: bold;
    }
  }

  &__body {
    &__paragraph {
      font-size: .875rem;
      &--tags {
        span {
          font-size: .75rem;
          color: gray;
          margin-right: .45rem;
        }
      }
    }
  }

}