.media-card {
  height: auto;
  max-width: 25rem;
  padding: 1rem 0;
  display: flex;
  font-family: nyt-cheltenham;
   
  .item {
    flex: 1;
    img {
      width: 10.67rem;
      height: 10.67rem;
    }
  }

    &__header {
      line-height: 1.1875rem;
      &--title {
        font-size: 1rem;
        font-weight: 700;
        margin: 0 0 .3rem 0;
      }
    }
  
    &__body {
      &__paragraph {
        font-size: .875rem;
        line-height: 1.1875rem;
        margin: 0;
        text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        &--tags {
          span {
            font-size: .75rem;
            font-weight: 500;
            font-family: 'Arial';
            color: gray;
            margin-right: .45rem;
          }
        }
      }
      &--byline {
        display: block;
        font-size: 1rem;
        color: gray;
        font-weight: 600;
        margin-right: .5rem;
        align-self:center;
      }
    }
    
  }