.media-card {
  height: 9rem;
  max-width: 25rem;
  // padding: 0 15px;
  display: flex;
   
  .item {
    flex: 1;
    img {
      max-width: 100%;
    }
  }

    &__header {
      line-height: 1.1875rem;
      &--title {
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1px;
        margin: 0 0 .3rem 0;
      }
    }
  
    &__body {
      &__paragraph {
        font-size: .875rem;
        line-height: 1.1875rem;
        margin: 0;
        &--tags {
          span {
            font-size: .75rem;
            color: gray;
            margin-right: .45rem;
          }
        }
      }
    }
    
  }