.media-card {
  height: auto;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  font-family: nyt-cheltenham;
   
  .item {
    flex: 1;
    img {
      width: 100%;
      height: auto;
    }
  }

    &__header {
      line-height: 1.1875rem;
      &--title {
        font-family: 'nyt-cheltenham';
        font-size: 1rem;
        font-weight: bolder;
        margin: 0 0 .3rem 0;
        line-height: 1rem;
      }
    }
  
    &__body {
      &__paragraph {
        font-size: .875rem;
        line-height: 1rem;
        margin: .5rem 0;
        text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        &--tags {
          span {
            font-size: .75rem;
            font-weight: 500;
            font-family: 'Arial';
            color: gray;
            margin-right: .45rem;
          }
        }
      }
      &--byline {
        display: block;
        font-size: 1rem;
        color: gray;
        font-weight: 500;
        margin-right: .5rem;
        align-self:center;
        line-height: 1rem;
      }
    }
    
  }
  @media (width: 425px) {
    .media-card {
      .item:nth-child(2) {
        img {
          width:100%
        }
      }
    }
  }

  @media (width: 768px) {
    .media-card {
      max-width: 100%;
      .item {
        flex: auto;
      }
    }
  }

  @media (max-width: 1149.98px) { 
    .media-card {
      flex-direction: column-reverse;
      &__header {
        &--title {
          margin: .3rem 0;
        }
      }
    }
  }