.quote-card {
  width: 100%;
  padding: .875rem 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
    &__quote {
      display: flex;
      justify-content: space-between;
      &--author {
        max-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
      }
      &--title {
        display: block;
        font-size: .875rem;
        color: gray;
        font-weight: 500;
        align-self:center;
      }

      &--subtitle {
        font-family: 'nyt-cheltenham';
        font-weight: 600;
        line-height: 1.1875rem;
        margin: 0;
        font-size: 1rem;
      }

      img {
        align-self: flex-start;
      }
    }
}

@media (width: 768px) { 
  .quote-card {
    border: none !important; 
  }
}

