.quote-card {
  max-width: 10.68rem;
  padding: .875rem 0;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
    
    
    &__quote {
      display: flex;
      justify-content: space-between;
      &--author {
        max-width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
      }
      &--title {
        display: block;
        font-size: 1rem;
        color: gray;
        font-weight: 600;
        margin-right: .5rem;
        align-self:center;
      }

      &--subtitle {
        font-weight: 600;
        line-height: 1.1875rem;
        margin: 0;
        font-size: 1rem;
      }

      img {
        align-self: flex-start;
      }
    }
}