.footer-wrapper {
  display: flex;
  flex-direction: column;

  &--title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .footer {
    &__links {
      display: flex;
      margin: 1rem 0;
      ul {
        flex: 1;
        li:first-child {
          margin-bottom: .25rem;
          text-transform: uppercase;
        }
      }
    }
    &__navigation {
      ul {
        display: flex;
        color: gray;
        font-size: 11px;
        list-style: none;
        padding: 0;
        padding-top: .65rem;
        
        li {
          flex: 1;
        }
      }
    }
  }
  
}