.header-wrapper {
  height: 7rem;
  width: 100%;
  display: flex;
  &--logo {
    font-size: 6rem;
    align-self: flex-start;
  }
  &--date, &--label {
    font-size: .875rem;
    align-self: flex-end;
    font-weight: 600;
  }
  
  div {
    flex: 1;
    text-align: center;
  }

}