.mini-nav-wrapper {
  border-bottom: 2px solid black;
  padding: .3rem;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      text-align: center;
      a {
        color: black;
        
      }
    }
  }

}