.mini-nav-wrapper {
  padding: .3rem;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      text-align: center;
      a {
        color: black;
        font-family: 'nyt-cheltenham';
        font-weight: bolder;
      }
    }
  }

}

@media (max-width: 575.98px) { 
  .mini-nav-wrapper {
    display: none;
  }
}