.mini-nav-wrapper {
  padding: .3rem;
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      text-align: center;
      margin-right: .85rem;
      a {
        color: black;
        font-family: serif;
        font-weight: bolder;
      }
    }
  }

}

@media (max-width: 767.98px) { 
  .mini-nav-wrapper {
    display: none;
  }
}